:root {
    --my-green:  #58b35a;
    --my-green2: #4a964b;
    --txt-color: #3E4759;
}

.header {
    /* border: solid green; */
    padding-left: 10%;
    display: flex;
}


/* Image of Me */
.photo-ctnr {
    /* border: solid; */
    align-self: center;
}

.my-photo {
    /* border: solid purple; */
    border-radius: 8em;
    box-shadow: 3px 4px 5px 2px hsla(0, 49%, 10%, 0.425);
}


/* Title and Description */
.about-ctnr {
    /* background: yellow; */
    margin-left: 6.5em;
    margin-top: -1em;
    align-self: center;
}

.greeting {
    font-size: 1rem; /* Font Size for Small Text */
    margin-bottom: 1.25em;
    word-spacing: .15em;
    color: var(--my-green2);
}

.title {
    /* border: solid; */
    margin-bottom: .5em;
    font-size: 2.25rem; /* Font Size for Titles */
}

.aboutme {
    /* border: solid; */
    line-height: 1.5em;
    font-size: 1.5rem; /* Font Size for Normal Text */
}

.jobtitle {
    color: var(--my-green2);
}


