.header {
    /* border: solid green; */
    padding-left: 10%;
    display: flex;
}


/* Image of Me */
.photo-ctnr {
    border: none;
}

.my-photo {
    /* border: solid; */
    border-radius: 8em;
    box-shadow: 3px 4px 5px 2px hsla(0, 49%, 10%, 0.425);
}


/* Title and Description */
.about-ctnr {
    /* background: yellow; */
    margin-top: -1em;
    margin-left: 6.5em;
    align-self: center;
}

.greeting {
    margin-bottom: 1.25em;
    word-spacing: .15em;
    color: #4a964b;
}

.title {
    /* border: solid; */
    margin-bottom: .5em;
    font-size: 2.25rem;
}

.aboutme {
    /* border: solid; */
    line-height: 1.5em;
    font-size: 1.5rem;
}

.jobtitle {
    color: #4a964b;
}


