*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    padding: 1em;
    padding-top: 1em;
    /* font */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    /* colors */
    color: #3E4759;
}


/** 
    Desktop
    Navigation Bar ( +1050px width )
*/
.navbar {
    /* background: rgb(206, 153, 153); */
    margin-bottom: 2em;
    padding: 1em;
}

.nav-ctnr {
    /* background: yellow; */
    display: flex;
}


/* logo */
.logo {
    height: 62px;
    border-radius: 50%;
    transition: 500ms;
}

.logo:hover {
    margin-left: .15em;
    box-shadow: .25px 3px 3px 0 #58b35a,
                .25px 3px 3px 0 #58b35a inset;
    cursor: pointer;
}


/* list items */
.navbar li {
    display: inline-block;
}

.nav-itms {
    /* background: red; */
    margin-left: auto;
    margin-right: 2em;
    display: flex;
}

.nav-itms li {
    /* background: green; */
    margin-left: 2.5em;
    align-self: center;
}


/* Main Content*/
.main {
    /* border: solid; */
    padding: 1em;
}



/** 
    Responsive - Mobile
    Navigation Bar ( -1050px width )
*/
